<h1>User info</h1>
<%= image_tag current_user.get_profile_image(100, 100) %>
<p>name<%= current_user.name %></p>
<p>introduction<%= current_user.introduction %></p>
<%= link_to "edit", edit_user_path(current_user.id) %>

<h1>New book</h1>
<%= form_with model: book do |f| %>
  <p>Title</p>
    <%= f.text_field :title %>
  <p>Option</p>
    <%= f.text_area :body %><br>
    <%= f.submit "Create Book" %>
<% end %>